version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: dev_mongodb
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: dev_db
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - dev_network

  mongo-express:
    image: mongo-express:latest
    container_name: dev_mongo_express
    ports:
      - '8082:8081'
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongodb
    restart: unless-stopped
    networks:
      - dev_network

  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
      - ~/.m2:/root/.m2
    container_name: dev_spring_boot_app
    ports:
      - '8081:8080'
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/dev_db
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      - mongodb
    restart: unless-stopped
    networks:
      - dev_network

volumes:
  mongodb_data:

networks:
  dev_network:
    driver: bridge
